.theme {
  color: #F8B316;
}

.theme-back {
  background-color: #F8B316;
}

.theme-border {
  border: 1px solid #F8B316;
}

.white {
  color: #fff;
}

.white-back {
  background-color: #fff;
}

.cb-back {
  background-color: #cbcbcb;
}

.clr_000 {
  color: #000000;
}

.clr_333 {
  color: #333333;
}

.clr_666 {
  color: #666666;
}

.clr_999 {
  color: #999999;
}