.icon-8 {
  width: 16rpx;
  height: 16rpx;
}

.icon-10 {
  width: 20rpx;
  height: 20rpx;
}

.icon-12 {
  width: 24rpx;
  height: 24rpx;
}

.icon-14 {
  width: 28rpx;
  height: 28rpx;
}

.icon-16 {
  width: 32rpx;
  height: 32rpx;
}

.icon-18 {
  width: 36rpx;
  height: 36rpx;
}

.icon-20 {
  width: 40rpx;
  height: 40rpx;
}

.icon-24 {
  width: 48rpx;
  height: 48rpx;
}

.icon-32{
  width: 64rpx;
  height: 64rpx;
}

.icon-60 {
  width: 120rpx;
  height: 120rpx;
}

.icon-70 {
  width: 140rpx;
  height: 140rpx;
}

.border-radius-4{
  border-radius: 8rpx;
}

.border-radius-6{
  border-radius: 12rpx;
}

.border-radius-12{
  border-radius: 24rpx;
}

.border-radius-50{
  border-radius: 50%;
}
